<div class="teaser-content">
  <div #background class="teaser-content__image">
    <div class="teaser-content__image-overlay"></div>
    <div class="teaser-content__image-content">
      <div class="teaser-content__image-content-title">
        <span [class.teaser-content__image-content-title--highlighted]="titleFragment.highlighted" *ngFor="let titleFragment of content.data.teaser.title">{{titleFragment.text}}</span>
      </div>

      <span class="teaser-content__image-content-subtitles">
        <ng-container *ngFor="let subtitle of content.data.teaser.subtitles">
          <span class="teaser-content__image-content-subtitle">{{subtitle}}</span>
        </ng-container>
      </span>

      <div class="teaser-content__image-buttons">
        <a class="teaser-content__image-content-button"
           [class.teaser-content__image-content-button--hidden]="!shouldShowOfferButton"
           [routerLink]="content.data.teaser.emailButton.href">
          <pf-icon class="teaser-content__image-content-button-icon" icon="email"></pf-icon>
          <span class="teaser-content__image-content-button-text">{{content.data.teaser.emailButton.text}}</span>
        </a>

        <a class="teaser-content__image-content-button" [href]="content.data.teaser.phoneButton.href">
          <pf-icon class="teaser-content__image-content-button-icon" icon="phone"></pf-icon>
          <span class="teaser-content__image-content-button-text">{{content.data.teaser.phoneButton.text}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
