@import './src/app/shared-styles/shared';

$teaser-height--mobile: 350px;
$teaser-height--desktop: 500px;

$teaser-icon--width: 32px;

.teaser-content {
  display: flex;
  justify-content: center;

  width: 100%;

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: $teaser-height--mobile;

    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;

    @include respondFrom($breakpoint--M) {
      height: $teaser-height--desktop;
    }
  }

  &__image-buttons {
    display: inline-flex;
    flex-flow: row wrap;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $image-overlay;
    z-index: 0;
  }

  &__image-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $global--content-max-width;

    margin: 0 $gap--M;
    color: $light-grey--main;
    user-select: none;
    cursor: default;
    z-index: 1;

    @include respondFrom($breakpoint--M) {
      margin: 0 $gap--XL;
    }

    &-title {
      display: flex;
      @include font-condensed-black;
      font-size: $font-size--4XL;
      text-transform: uppercase;
      line-height: 1.2;
      flex-flow: row wrap;

      @include respondFrom($breakpoint--M) {
        font-size: $font-size--5XL;
      }
    }

    &-title--highlighted {
      color: $brand;
    }

    &-subtitles {
      display: flex;
      flex-direction: column;

      @include respondFrom($breakpoint--M) {
        flex-direction: row;
      }
    }

    &-subtitle {
      font-size: $font-size--M;
      text-transform: uppercase;
      font-weight: $font-weight--regular;
      line-height: 1.5;

      @include respondFrom($breakpoint--M) {
        font-size: $font-size--XL;
      }

      &:not(:last-child):after {
        @include respondFrom($breakpoint--M) {
          content: ' | ';
          white-space: pre;
        }
      }
    }

    &-button {
      display: flex;
      width: fit-content;
      height: auto;

      font-size: $font-size--L;
      font-weight: $font-weight--bold;

      &:not(:last-child) {
        margin-right: $gap--M;
      }

      margin-top: $gap--M;
      padding: $gap--2XS $gap--M $gap--2XS $gap--M;

      border: 3px solid $light-grey--main;
      opacity: 1;

      @include respondFrom($breakpoint--M) {
        margin-top: $gap--XL;
        font-size: $font-size--XL;
        padding: $gap--XS $gap--M $gap--XS $gap--M;

        border: 4px solid $light-grey--main;
      }

      cursor: pointer;
      border-radius: $border-radius--normal;

      &:hover {
        text-decoration: none;
      }

      &--hidden {
        display: none;
      }

      &-icon {
        display: flex;
        width: $teaser-icon--width;
        height: $teaser-icon--width;
        margin-right: $gap--M;
      }

      &-text {
        line-height: $teaser-icon--width;
      }
    }
  }
}
