@import './src/app/shared-styles/shared';

$menu-item-border-width: 2px;
$menu-item-border: $menu-item-border-width solid;

.menu-item {
  display: block;

  color: $dark-grey--main;
  font-weight: $font-weight--bold;

  border: $menu-item-border $light-grey--main;
  border-radius: $border-radius--normal;
  background-color: $light-grey--main;

  padding: $gap--S $gap--L $gap--S $gap--L;
  margin: $gap--M $gap--M 0 $gap--M;
  $context: &;

  @include respondFrom($breakpoint--L) {
    transition : border 300ms ease;
    margin: 0 $gap--M 0 0;
  }

  &--last {
    position: relative;

    margin: $gap--M;
    border: $menu-item-border $light-grey--main;

    @include respondFrom($breakpoint--L) {
      margin: 0;
    }

    &:after {
      content: '';
      position: absolute;

      height: $menu-item-border-width;
      width: 75%;
      bottom: -$menu-item-border-width;
      transform: translateX(50%);
      right: 50%;

      background-color: $dark-grey--main;

      @include respondFrom($breakpoint--L) {
        height: 32px;
        width: $menu-item-border-width;
        right: -$menu-item-border-width;
        bottom: 50%;
        transform: translateY(50%);
      }
    }
  }

  &--active {
    position: relative;
    border: $menu-item-border $dark-grey--main;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: -13px;
      transform: translateX(-50%);

      height: $global--decoration-rectangle-size;
      width: $global--decoration-rectangle-size;

      border: 4px solid $light-grey--main;
      border-radius: 100%;
      background-color: $brand;

      z-index: 1;

      @include respondFrom($breakpoint--L) {
        transform: none;
        left: -13px;
      }
    }
  }

  &:hover {
    text-decoration: none;

    @include respondFrom($breakpoint--L) {
      border: $menu-item-border $dark-grey--main;
    }
  }

  &__link {
    color: $dark-grey--main;
    font-weight: $font-weight--bold;
  }
}
