<div class="offer-request">
  <form class="offer-request__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="offer-request__title">{{content.title}}</h1>

    <pf-input-field type="text" [label]="content.labels.name" formControlName="name"></pf-input-field>
    <pf-input-field type="tel" [label]="content.labels.phone" formControlName="phone"></pf-input-field>
    <pf-input-field type="email" [label]="content.labels.email" formControlName="email"></pf-input-field>
    <pf-input-field type="text" [label]="content.labels.subject" formControlName="subject"></pf-input-field>
    <pf-input-field type="textarea" [label]="content.labels.text" formControlName="text"></pf-input-field>

    <div class="offer-request__submit">
      <pf-action-feedback class="offer-request__submit-feedback"
                          *ngIf="status.showFeedback"
                          [type]="status.error ? 'error' : 'success'"
                          [content]="status.error ? content.labels.error : content.labels.success">
      </pf-action-feedback>
      <pf-button class="offer-request__submit-button" type="submit"
                 [disabled]="loading" [loading]="loading" [text]="content.button">
      </pf-button>
    </div>
  </form>
</div>
