@import './src/app/shared-styles/shared';

$form--max-width: 512px;

.offer-request {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: $gap--L $gap--M;

  @include respondFrom($breakpoint--M) {
    margin: $gap--XL $gap--M;
  }

  &__title {
    width: fit-content;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    max-width: $form--max-width;
  }

  &__submit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: $gap--M;
  }

  &__submit-feedback {
    margin-bottom: $gap--L;
  }
}
