@import './src/app/shared-styles/shared';

:host {
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: $dark-grey--main;
  color: $light-grey--main;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    max-width: $global--content-max-width;
    width: 100%;
    margin: 0 $gap--M;

    @include respondFrom($breakpoint--M) {
      margin: 0 $gap--XL;
    }
  }

  &__sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    @include respondFrom($breakpoint--M) {
      margin: $gap--XL 0;
    }
  }

  &__sections-item {
    padding: $gap--L $gap--XL;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: $font-size--XS;
    border-top: 1px solid $light-grey--main;

    padding: $gap--L 0;

    @include respondFrom($breakpoint--M) {
      flex-direction: row;
      justify-content: center;

      padding: $gap--M 0;
    }

    &-label {
      padding-bottom: $gap--M;

      @include respondFrom($breakpoint--M) {
        padding-bottom: 0;

        &:after {
          content: '|';
          margin: 0 $gap--XS;
        }
      }
    }

    &-credits {
      display: inline-flex;
      align-items: center;
    }

    &-credits-logo-link {
      margin: 0 $gap--XS;
      height: 24px;
      width: 24px;
    }

    &-credits-logo {
      fill: $white;
      stroke: $white;
      stroke-width: 4;
    }
  }
}
