<footer class="footer">
  <div class="footer__content">
    <div class="footer__sections">
      <pf-footer-section class="footer__sections-item"
                         *ngFor="let section of content.sections"
                         [section]="section"
                         indicatorType="circle">
      </pf-footer-section>
    </div>
    <div class="footer__copyright">
      <span class="footer__copyright-label">{{content.copyright.label}}</span>
      <span class="footer__copyright-credits">
        {{content.copyright.creditBegin}}
        <a class="footer__copyright-credits-logo-link" [attr.aria-label]="content.copyright.creditDescription" href="//attilav.com" target="_blank" rel="noopener">
          <pf-icon class="footer__copyright-credits-logo" icon="va-logo"></pf-icon>
        </a>
        {{content.copyright.creditAfter}}
      </span>
    </div>
  </div>
</footer>
