<div class="fragment-container">
  <pf-services pfFragment (reachedFragment)="onFragmentReached(fragments.services)" fistElement="true" [id]="fragments.services"></pf-services>
  <pf-disinfectant pfFragment (reachedFragment)="onFragmentReached(fragments.disinfection)" [id]="fragments.disinfection"></pf-disinfectant>
  <pf-areas pfFragment (reachedFragment)="onFragmentReached(fragments.areas)" lastElement="true "[id]="fragments.areas"></pf-areas>
  <pf-highlighted-offer-request-button></pf-highlighted-offer-request-button>
</div>
