@import './src/app/shared-styles/shared';

$header-height--mobile: 56px;
$header-logo-width--mobile: 130px;
$header-logo-width--desktop: 200px;
$header-hamburger-icon-click-area: 50px;

:host {
  display: block;
  position: sticky;
  top: 0;

  z-index: 10;
}

.header {
  display: flex;
  justify-content: center;

  width: 100%;
  height: $header-height--mobile;
  background-color: $light-grey--main;
  transition: box-shadow $defaultAnimationDuration ease-in-out;

  &--show-shadow {
    box-shadow: $box-shadow;
  }

  @include respondFrom($breakpoint--L) {
    position: static;
    height: auto;

    &--show-shadow {
      box-shadow: none;
    }
  }

  &__content {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    position: relative;

    width: 100%;
    max-width: $global--content-max-width;
    padding: $gap--2XS $gap--M;

    @include respondFrom($breakpoint--L) {
      padding: $gap--XS $gap--XL;
    }
  }

  &__hamburger-icon {
    display: flex;
    align-items: center;
    width: $header-hamburger-icon-click-area;
    justify-content: flex-end;

    @include respondFrom($breakpoint--L) {
      display: none;
    }
  }

  &__logo, &__navigation {
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $header-height--mobile;
    left: 0;

    height: 0;
    width: 100%;
    background-color: $light-grey--main;

    overflow: hidden;
    z-index: -1;
    box-shadow: $box-shadow;

    &--animate {
      transition: height $defaultAnimationDuration ease-in-out;
    }

    @include respondFrom($breakpoint--L) {
      display: flex;
      flex-direction: row;
      position: relative;
      bottom: unset;

      width: unset;
      overflow: unset;
      top: unset;
      height: auto !important;
      padding: 0;

      z-index: 0;
      box-shadow: none;

      &--show-shadow {
        box-shadow: none;
      }
    }
  }

  &__navigation-item {
    width: 100%;
    text-align: center;

    @include respondFrom($breakpoint--L) {
      width: auto;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    height: 100%;
    width: $header-logo-width--mobile;

    outline: none;

    @include respondFrom($breakpoint--L) {
      width: $header-logo-width--desktop;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
