<header class="header" [class.header--show-shadow]=" !this.isMobileHeaderOpen && shouldHaveShadow">
  <div class="header__content">
    <pf-icon routerLink="/" class="header__logo" ariaHidden="false" icon="pf-logo"></pf-icon>
    <pf-hamburger-icon class="header__hamburger-icon"
                       (click)="toggleMobileHeader()"
                       [open]="isMobileHeaderOpen"
    >
    </pf-hamburger-icon>

  <nav #navigation class="header__navigation"
       [class.header__navigation--animate]="shouldAnimate"
       [style.height.px]="isMobileHeaderOpen ? mobileMenuHeight : null"
  >
      <pf-menu-item class="header__navigation-item"
                    (click)="onLinkSelected()"
                    *ngFor="let item of content.data.header.items; last as isLast"
                    [active]="(activeFragment$ | async) === item.fragmentName && !!item.fragmentName"
                    [item]="item"
                    [isLast]="isLast">
      </pf-menu-item>
    </nav>
  </div>
</header>
