<div class="action-feedback"
     [ngClass]="{'action-feedback--success': type === 'success',
                 'action-feedback--error': type === 'error'}"
>
  <span class="action-feedback__content">{{content}}</span>
</div>
