@import 'src/app/shared-styles/shared';

.action-feedback {
  padding: $gap--M;

  color: $light-grey--main;

  font-size: $font-size--L;
  font-weight: $font-weight--bold;
  text-align: center;

  border-radius: $border-radius--normal;

  &--success {
    border: 2px solid $brand;
    background-color: $brand;
  }

  &--error {
    border: 2px solid $warning-red;
    background-color: $warning-red;
  }
}
