@import 'src/app/shared-styles/shared';

.spinner {
  background-color: $light-grey--main;
  border-radius: 50%;

  width: 30px;
  height: 30px;

  top: 50%;
  transform: translateY(-50%);

  animation: loading 1.4s infinite linear;

  &:before {
    position: absolute;
    width: 50%;
    height: 50%;

    background-color: $dark-grey--main;
    border-radius: 100% 0 0 0;

    content: '';
  }

  &:after {
    background-color: $dark-grey--main;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
