<div class="input-field"
     [class.input-field--focused]="isFocused"
     [class.input-field--validated]="!hasError && !isEmpty"
     [class.input-field--disabled]="isDisabled"
     [class.input-field--invalid]="hasError && !isFocused"
>
  <ng-container *ngIf="!isTextarea">
    <label [attr.for]="control.name" class="input-field__label">{{label}}</label>
    <input [id]="control.name"
           class="input-field__field"
           [type]="type"
           [autocomplete]="isAutocompleteEnabled? 'on' : 'off'"
           [disabled]="isDisabled"
           [placeholder]="placeholder"
           [value]="value"
           (focus)="onFocus()"
           (blur)="onBlur()"
           (keyup)="onKeyup($event)"
    >
  </ng-container>

  <ng-container *ngIf="isTextarea">
    <label [attr.for]="control.name" class="input-field__label">{{label}}</label>
    <textarea [id]="control.name"
              class="input-field__field input-field__textarea"
              [disabled]="isDisabled"
              [placeholder]="placeholder"
              [value]="value"
              (focus)="onFocus()"
              (blur)="onBlur()"
              (keyup)="onKeyup($event)">
    </textarea>
  </ng-container>
</div>
