@import 'src/app/shared-styles/shared';

$textarea-size: 200px;

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: $gap--XS 0;

  &--validated {
    @include inputValidator(true, $brand);
  }

  &--focused {
    .input-field__field {
      outline: none;
    }

    @include inputValidator(true, $white, $brand);
  }

  &--invalid {
    .input-field__field {
      border-color: $warning-red;
    }

    @include inputValidator(true, $warning-red)
  }

  &--disabled {
    .input-field__field {
      border-color: $dark-grey--light;
    }
  }

  &__label {
    margin-bottom: $gap--XS;
    font-weight: $font-weight--bold;
  }

  &__field {
    font-size: $font-size--M;
    padding: $gap--S $gap--M;
    border: 2px solid $dark-grey--main;
    border-radius: $border-radius--normal;
  }

  &__textarea {
    height: $textarea-size;
    resize: none;
  }
}
