@import './src/app/shared-styles/shared';

$footer-section__title-indicator-left: -25px;
$footer-section__title-indicator-top: 2px;

.footer-section {
  text-align: center;

  @include respondFrom($breakpoint--M) {
    text-align: left;
  }

  &__title {
    position: relative;

    text-transform: uppercase;
    font-weight: $font-weight--bold;
    font-size: $font-size--L;

    padding-bottom: $gap--M;

    &:before {
      content: '';
      display: block;

      margin: 0 auto $gap--M;

      height: $global--decoration-rectangle-size;
      width: $global--decoration-rectangle-size;

      background-color: $brand;

      @include respondFrom($breakpoint--M) {
        position: absolute;
        left: $footer-section__title-indicator-left;
        top: $footer-section__title-indicator-top;
      }
    }

    &--circle:before {
      border-radius: 100%;
    }

    @include respondFrom($breakpoint--M) {
      padding-bottom: $gap--S;
    }
  }

  &__content-text-wrapper {
    line-height: 1.5;

    @include respondFrom($breakpoint--M) {
      line-height: 1.8;
    }
  }

  &__content-text {
    display: block;
    margin: $gap--XS 0;

    @include respondFrom($breakpoint--M) {
      margin: 0;
    }
  }

  &__content-image {
    display: flex;
    justify-content: center;
  }

  &__content-image-link {
    display: block;

    &:not(:last-child) {
      margin-right: $gap--M;
    }

    &:hover {
      pf-icon {
        fill: $light-grey--main;
      }
    }

    pf-icon {
      fill: $dark-grey--light;
    }
  }

  &__iframe  {
    box-shadow: 8px 8px 0 0 rgba(248, 248, 248, 0.4);
  }
}

