<div class="footer-section">
  <div class="footer-section__title" [ngClass]="'footer-section__title--' + indicatorType">{{section.title}}</div>
  <div class="footer-section__content">

    <div class="footer-section__content-text-wrapper" *ngIf="section.type === 'text'">
      <ng-container *ngFor="let line of section.content">
        <span *ngIf="!line.href">
          {{line.text}}<br>
        </span>

        <span *ngIf="line.href" class="footer-section__content-text">
          <a *ngIf="!line.external" [routerLink]="line.href" [fragment]="line.fragmentName">{{line.text}}<br></a>
          <a *ngIf="line.external" rel="noopener" [target]="line.contactInfo ? '' : '_blank'" [href]="line.href">{{line.text}}<br></a>
        </span>
      </ng-container>
    </div>

    <div class="footer-section__content-image" *ngIf="section.type === 'image'">
      <ng-container *ngFor="let image of section.content">
        <a class="footer-section__content-image-link"
           target="_blank"
           rel="noopener"
           [ngStyle]="{'width.px': image.width}"
           [href]="image.href" [attr.aria-label]="image.text">
          <pf-icon [icon]="image.icon"></pf-icon>
        </a>
      </ng-container>
    </div>

    <div class="footer-section__content-iframe" *ngIf="section.type === 'iframe'">
      <ng-container *ngFor="let content of section.content">
        <pf-iframe class="footer-section__iframe" [src]="content.iframe.src" [title]="content.iframe.title" [width]="content.iframe.width" [height]="content.iframe.height" allow="encrypted-media"></pf-iframe>
      </ng-container>
    </div>
  </div>
</div>
