@import './src/app/shared-styles/shared';

:host {
  display: flex;
  justify-content: center;
}

.request-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 200px;
  width: 100%;
  min-width: 300px;
  max-width: 480px;

  margin: $gap--L $gap--M;
  border-radius: $border-radius--big;
  background-color: $dark-grey--main;

  outline: none;
  cursor: pointer;
  transition: box-shadow $defaultAnimationDuration ease-out;

  &:hover {
    box-shadow: $box-shadow;
  }

  @include respondFrom($breakpoint--M) {
    flex-direction: row;
    margin: $gap--4XL $gap--M;
    height: 150px;
  }

  &__text {
    color: $white;
    font-size: $font-size--XL;
    font-weight: $font-weight--bold;
  }

  &__icon {
    width: 112px;
    height: 112px;
    margin-bottom: $gap--M;

    @include respondFrom($breakpoint--M) {
      margin-right: $gap--XL;
      margin-bottom: 0;
    }
  }
}
