<div class="text-content">
  <div class="text-content__spacer"></div>
  <div class="text-content__content">
    <div class="text-content__content-title">
      <h1 class="text-content__content-title-text">{{title}}</h1>
      <pf-image class="text-content__content-title-image" *ngIf="titleImage" [name]="titleImage.filename" [alt]="titleImage.alt"></pf-image>
    </div>

    <p class="text-content__content-paragraph" *ngFor="let paragraph of paragraphs">
      {{paragraph}}
    </p>
  </div>
  <pf-icon *ngIf="icon" class="text-content__icon" [icon]="icon"></pf-icon>
</div>
