@import './src/app/shared-styles/shared';

$text-content__icon-width: 150px;
$text-content__icon-overflow--desktop: -50px;
$text-content__icon-overflow--mobile: -35px;

.text-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  width: 100%;

  overflow: hidden;

  &__spacer {
    display: none;

    width: calc(#{$text-content__icon-width} + #{$text-content__icon-overflow--desktop});
    visibility: hidden;

    @include respondFrom($breakpoint--M) {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: $global--content-max-width;
  }

  &__content-title {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    &-text {
      @include font-default;
      text-transform: uppercase;
      margin-bottom: $gap--L;
    }

    &-image {
      height: 56px;
    }
  }

  &__icon {
    display: flex;
    justify-self: end;

    min-width: $text-content__icon-width;
    width: $text-content__icon-width;
    margin: 0 0 $text-content__icon-overflow--mobile;
    height: 100%;

    @include respondFrom($breakpoint--M) {
      margin: 0 $text-content__icon-overflow--desktop 0 0;
    }
  }
}
