<div class="services">
  <pf-text-content class="services__text-content" [title]="content.textContent.title" [paragraphs]="content.textContent.paragraphs"></pf-text-content>
  <div class="services__types">
    <pf-image-content class="services__type"
                      *ngFor="let item of content.imageList"
                      [imageName]="item.imageName"
                      [title]="item.title"
                      [text]="item.text"
    ></pf-image-content>
  </div>
</div>
