@import './src/app/shared-styles/shared';

:host {
  display: block;
  background-color: $light-grey--background;

  padding: 0 16px;

  @include respondFrom($breakpoint--M) {
    padding: 0 32px;
  }
}

.services {
  width: 100%;
  max-width: $global--content-max-width;
  margin: 0 auto;
  padding: 64px 0;

  &__text-content {
    display: block;
  }

  &__types {
    display: grid;
    grid-gap: 32px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    @include respondFrom($breakpoint--M) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
    }

    padding-top: 32px;
  }

  &__type {
    width: 100%;
  }
}
