<div class="pf-app">
  <pf-header></pf-header>

  <div class="pf-app__content">
    <pf-teaser-content></pf-teaser-content>
    <router-outlet></router-outlet>
  </div>

  <pf-footer></pf-footer>
</div>
