<button class="button"
        [class.button--disabled]="disabled"
        [disabled]="disabled"
        [type]="type">
  <pf-spinner class="button__spinner" *ngIf="loading"></pf-spinner>
  <span class="button__text">{{text}}</span>
</button>
