@import './src/app/shared-styles/shared';

.button {
  position: relative;
  height: 56px;
  width: 200px;

  font-size: $font-size--XL;
  font-weight: bold;

  background-color: $dark-grey--main;
  color: $light-grey--main;
  border-radius: $border-radius--normal;

  cursor: pointer;
  border: none;

  @include showHover {
    &:not(:disabled):hover {
      background-color: $brand;
    }
  }

  &--disabled {
    background-color: $dark-grey--light;
    cursor: unset;
  }

  &__spinner {
    position: absolute;
    right: $gap--M;
  }
}
