@import './src/app/shared-styles/shared';

$iconWidth: 16px;
$iconHeight: 7px;
$iconLineHeight: 2px;

.hamburger-menu {
  display: flex;

  &__icon {
    position: relative;
    display: block;

    height: $iconHeight;
    width: $iconWidth;
  }

  &__icon-top-line, &__icon-bottom-line {
    position: absolute;

    width: $iconWidth;
    height: $iconLineHeight;
    background-color: $dark-grey--main;

    border-radius: $iconLineHeight;
    transition: transform $defaultAnimationDuration ease-out;
  }
  &__icon-top-line {
    top: 0;
    left: 0;
  }

  &__icon-bottom-line {
    bottom: 0;
    right: 0;
  }

  &__open {
    .hamburger-menu {

      &__icon-top-line {
        transform: translateY(2px) rotate(-45deg);
      }

      &__icon-bottom-line {
        transform: translateY(-3px) rotate(45deg);
      }
    }
  }
}
