<div class="list-content">
  <div class="list-content__items">
    <pf-list-item class="list-content__item"
                  [ngClass]="{'list-content__item--highlighted': item.highlighted}"
                  *ngFor="let item of items" [item]="item">
    </pf-list-item>
  </div>
</div>
