@import './src/app/shared-styles/shared';

.list-content {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: $gap--XS 0;

  @include respondFrom($breakpoint--M) {
    margin: 0;
  }

  &__items {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

    width: 100%;
    max-width: $global--content-max-width;

    @include respondFrom($breakpoint--M) {
      margin: $gap--M;
    }
  }

  &__item {
    min-width: 300px;
    max-width: 100%;
    margin: $gap--M;
    flex-grow: 1;
    flex-basis: 0;

    &--highlighted {
      flex-grow: 1.3;
    }

    @include respondFrom($breakpoint--M) {
      max-width: 320px;
    }
  }
}
