@import './src/app/shared-styles/shared';

.areas {
  width: 100%;
  background-color: $light-grey--background;

  &__text-content {
    display: block;
    padding: $gap--L $gap--M 0 $gap--M;

    @include respondFrom($breakpoint--M) {
      padding: $gap--5XL $gap--XL 0 $gap--XL;
    }
  }

  &__images-container {
    margin: 0 16px;
    padding-bottom: 24px;

    @include respondFrom($breakpoint--M) {
      margin: 0 32px;
      padding-bottom: 64px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 32px;

    @include respondFrom($breakpoint--M) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    max-width: $global--content-max-width;
    margin: 0 auto;
  }
}
