<div class="areas">
  <pf-text-content class="areas__text-content" [title]="content.textContent.title"></pf-text-content>
  <div class="areas__images-container">
    <div class="areas__images">
      <pf-image-content *ngFor="let item of content.imageList"
                        [imageName]="item.imageName"
                        [title]="item.title">
      </pf-image-content>
    </div>
  </div>
</div>
