<div class="list-item" [ngClass]="{'list-item--highlighted': item.highlighted}">
  <div class="list-item__title">
    <pf-icon *ngIf="item.icon" class="list-item__title-icon" [icon]="item.icon"></pf-icon>
    <div class="list-item__title-bullet" *ngIf="!item.icon"></div>
    <span>{{item.title}}</span>
  </div>
  <ng-container *ngFor="let paragraph of item.paragraphs">
    <span class="list-item__text">{{paragraph}}</span>
  </ng-container>
</div>
