@import './src/app/shared-styles/shared';

$list-item--width: 275px;
$list-item__icon-width: 24px;

$list-item__icon-border-dark: 3px solid $dark-grey--main;
$list-item__icon-border-light: 3px solid $light-grey--main;
$list-item__icon-padding: 3px;

.list-item {
  display: flex;
  flex-direction: column;
  height: fit-content;

  width: 100%;
  padding: $gap--L;
  box-shadow: $box-shadow;
  border-radius: $border-radius--normal;
  $context: &;

  &--highlighted {
    background-color: $dark-grey--main;
    color: $light-grey--main;

    #{$context}__title-icon {
      fill: $light-grey--main;
      border: $list-item__icon-border-light;
    }

    #{$context}__title-bullet {
      background-color: $white;
    }
  }

  &__title {
    display: flex;
    line-height: 1.4;

    font-size: $font-size--L;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: $gap--XS;
  }

  &__title-icon {
    width: $list-item__icon-width;
    border: $list-item__icon-border-dark;
    padding: $list-item__icon-padding;
    margin-right: $gap--M;
  }

  &__title-bullet {
    min-width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: $brand;
    margin-right: 24px;
  }

  &__text {
    padding-left: calc(#{$list-item__icon-width} + #{$gap--L});

    &:last-of-type:not(:only-of-type) {
      margin-top: $gap--M;
    }
  }
}
