@import './src/app/shared-styles/shared';
@import './src/app/shared-styles/fonts';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, pf-root, .pf-app {
  min-height: 100vh;
}

body {
  margin: 0;
  overflow-x: hidden;
  @include font-default;
  color: $dark-grey--main;
  font-weight: $font-weight--light;
}

textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
  appearance: none;
}

button, label, li {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
}

pf-root {
  display: flex;
  flex-direction: column;
}

pf-icon svg {
  width: 100%;
  display: block;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  border: none;
  overflow: auto;
}

h1 {
  position: relative;
  @include font-condensed-black;
  text-transform: uppercase;
  font-size: $font-size--XL;
  margin-top: 0;
  padding-left: $gap--M;

  @include respondFrom($breakpoint--L) {
    font-size: $font-size--2XL;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;

    width: 6px;
    height: 100%;

    background-color: $brand;
    border-radius: $border-radius--normal;
  }
}
