<div class="disinfectant">
  <pf-text-content class="disinfectant__text-content"
                   [title]="content.textContent.title"
                   [paragraphs]="content.textContent.paragraphs"
                   [titleImage]="content.textContent.titleImage">
  </pf-text-content>
  <pf-list-content [items]="content.listContent"></pf-list-content>
</div>
