@import './src/app/shared-styles/shared';

.disinfectant {
  width: 100%;

  &__text-content {
    display: block;
    padding: $gap--L $gap--M 0 $gap--M;

    @include respondFrom($breakpoint--M) {
      padding: $gap--5XL $gap--XL 0 $gap--XL;
    }
  }
}
