@import './src/app/shared-styles/shared';

.image-content {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  width: 100%;
  height: 250px;

  border-radius: $border-radius--normal;
  transition: box-shadow $defaultAnimationDuration ease-out;
  background-repeat: no-repeat;
  background-size: cover;

  $context: &;

  &:hover {
    box-shadow: $box-shadow;
  }

  &--with-text #{$context} {
    &__overlay {
      cursor: pointer;
    }

    &__title {
      cursor: pointer;
      padding-bottom: 8px;
    }

    &__bar {
      cursor: pointer;
      padding: 8px 0;
    }
  }

  &--open #{$context} {
    box-shadow: $box-shadow;

    &__icon {
      transform: rotateX(180deg);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: $border-radius--normal;
    background-color: $dark-grey--main;
    opacity: 0.3;
  }

  &__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding: 16px 0;
    background-color: rgba(47,47,47, 0.7);
    z-index: 1;

    border-bottom-left-radius: $border-radius--normal;
    border-bottom-right-radius: $border-radius--normal;
  }

  &__icon {
    transition: transform $defaultAnimationDuration ease-out;
    width: 24px;
  }

  &__title {
    cursor: default;
    font-size: $font-size--L;
    font-weight: $font-weight--bold;
    color: $white;
  }

  &__text {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: $box-shadow;
    text-align: center;

  }
}
