<div pfIntersection (intersection)="loadBackgroundImage()" #imageWrapper class="image-content" (click)="toggle()" [ngClass]="{'image-content--with-text': !!text, 'image-content--open': isOpen}">
  <div class="image-content__overlay"></div>
  <div class="image-content__bar">
    <span class="image-content__title">{{title}}</span>
    <pf-icon class="image-content__icon" icon="chevron-down" *ngIf="text"></pf-icon>
  </div>

</div>

<div *ngIf="isOpen" class="image-content__text">
  {{text}}
</div>
