$white: #FFFFFF;
$brand: #59BAF7;
$light-grey--main: #FCFCFC;
$light-grey--background: #F8F8F8;
$dark-grey--main: #2F2F2F;
$dark-grey--light: #828282;
$warning-red: #AE291E;

$image-overlay: rgba(113, 113, 113, 0.4);
$box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

