@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/light/OpenSans-Light.woff2') format('woff2'),
       url('../../assets/fonts/light/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/regular/OpenSans-Regular.woff2') format('woff2'),
       url('../../assets/fonts/regular/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/bold/OpenSans-Bold.woff2') format('woff2'),
       url('../../assets/fonts/bold/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../assets/fonts/condensed/OpenSansCondensed-Bold.woff2') format('woff2'),
       url('../../assets/fonts/condensed/OpenSansCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
