// ### GLOBAL ### //

$global--content-max-width: 80rem;
$global--decoration-rectangle-size: 1rem;

// ### BREAKPOINTS ### //

$breakpoint--M:   48.000rem; // 768px;
$breakpoint--L:   64.000rem; // 1024px;

// ### FONTS ### //

$font-size--XS:  0.750rem;  // 12px;
$font-size--M:   1.000rem;  // 16px;
$font-size--L:   1.125rem;  // 18px;
$font-size--XL:  1.500rem;  // 24px;
$font-size--2XL: 1.750rem;  // 28px;
$font-size--3XL: 2.000rem;  // 32px;
$font-size--4XL: 2.250rem;  // 36px
$font-size--5XL: 4.500rem;  // 72px

// ### GAPS ### //

$gap--2XS:  0.25rem;  // 4px
$gap--XS:   0.50rem;  // 8px
$gap--S:    0.75rem;  // 12px
$gap--M:    1.00rem;  // 16px
$gap--L:    1.50rem;  // 24px
$gap--XL:   2.00rem;  // 32px
$gap--2XL:  2.50rem;  // 40px
$gap--3XL:  3.00rem;  // 48px
$gap--4XL:  3.50rem;  // 56px
$gap--5XL:  4.00rem;  // 64px
$gap--6XL:  4.50rem;  // 72px
$gap--7XL:  5.00rem;  // 80px

// ### FONT WEIGTH ### //

$font-weight--light:   300;
$font-weight--regular: 400;
$font-weight--bold:    700;

// ### ANIMATION ### //

$defaultAnimationDuration: 300ms;

// ### BORDER RADIUS ### //

$border-radius--normal: 8px;
$border-radius--big: 24px;

