@import "metrics";
@import "colors";

@mixin font-default {
  font-family: "Open-Sans", sans-serif;
}

@mixin font-condensed-black {
  font-family: "Open Sans Condensed", "Open-Sans", sans-serif;
  font-weight: 700;
}

@mixin respondFrom($minWidth) {
  @media (min-width: $minWidth) {
    @content;
  }
}

@mixin showHover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin inputValidator($rounded: false, $background-color, $border-color: false) {
  @if $border-color == false {
    $border-color: $background-color;
  }

  $indicator-size: 1rem;
  $indicator-mask-size: 1rem;
  $border-size: 2px;

  &:before, &:after {
    position: absolute;
    right: -$gap--XS;
    bottom: -$gap--XS;

    display: block;
    content: "";

    @if $rounded == true {
      border-radius: 100%;
    }
  }

  &:before {
    width: $indicator-mask-size;
    height: $indicator-mask-size;

    background-color: $background-color;
    border: $border-size solid $border-color;

    z-index: 1;
  }

  &:after {
    width: $indicator-size;
    height: $indicator-size;

    background-color: $white;
    border: $gap--2XS solid $white;
  }
}
